.Image{
}
.{
}
.Basic_Button{
color:#eeeeee;
font-size:24px;
height:60px;
line-height:60px;
text-align:center;
text-decoration:none;
}
.TopMenu{
background-color:#34495e;
display:flex;
height:60px;
margin:0px;
padding:0px;
position:fixed;
width:100%;
z-index:5;
}
